/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

img {
  border-radius: 50%;
}

/* sfondo posteriore */
#sfondo {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#sfondo-sopra {
  height: 20%;
  width: 100%;
  background-color: #009688;
}

#sfondo-sotto {
  height: 80%;
  width: 100%;
  background-color: #DADBD3;
}

/* corpo centrale chat */
main {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  height: 90%;
  width: 80%;
  z-index: 1;
  display: flex;
}

/* sezione chat sinistra */
#sezione-chat-sinistra {
  width: 37%;
  height: 100%;
}

/* regole specifiche chat sinistra */
/* parte fissa */
#mio-profilo {
  height: 70px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

#mio-profilo img {
  height: 80%;
}

#icone-user i {
  font-size: 22px;
  color: #B1B1B1;
  padding-right: 15px;
}

#notifiche {
  height: 70px;
  width: 100%;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#notifiche i {
  font-size: 22px;
  background: white;
  border-radius: 50%;
  padding: 14px 10px;
  color: #8EDAFC;
  margin-right: 10px;
}

#notifiche h5 {
  font-size: 16px;
  font-weight: lighter;
}

#notifiche a {
  font-size: 15px;
  color: #4F7485;
}

#cerca-chat {
  height: 50px;
  width: 100%;
  background-color: #FAFAFA;
  padding: 8px;
}

.contenitore-cerca {
  border: 1px solid #F5F5F5;
  height: 100%;
  display: flex;
  align-items: center;

}

#cerca-chat i {
  background: white;
  width: 10%;
  height: 100%;
  padding: 10px 30px 10px 15px;
  color: #B6B9BB;
}

#cerca-chat input {
  width: 90%;
  height: 100%;
  border: none;
}

#sezione-chat {
  width: 100%;
  height: calc(100% - 70px - 70px - 50px);
  overflow-y: auto;
  background-color: white;
}

.container-chat {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

.container-chat img{
  height: 80%;
  margin-right: 15px;
}

.container-chat span {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 12px;
}

.specifiche-chat p, .container-chat span {
  color: #B6B9BB;
}

.specifiche-chat p {
  font-size: 14px;
}

.container-chat h2 {
  font-weight: lighter;
  font-size: 17px;
  padding-bottom: 5px;
}

/* sezione chat destra */
#sezione-chat-destra {
  width: 63%;
  height: 100%;
}

/* parte superiore */
.header-chat {
  height: 70px;
  width: 100%;
  background-color: #EAEAEA;
  border-left: solid 1px #B1B1B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.dati-chat {
  height: 100%;
  display: flex;
  align-items: center;
}

.dati-chat img {
  height: 80%;
  margin-right: 15px;
}

.dati-chat h2 {
  font-weight: lighter;
  font-size: 17px;
  padding-bottom: 5px;
}

.dati-chat h5 {
  font-weight: lighter;
  font-size: 14px;
  color: #6B7376;
}

.iconcine-header-chat i {
  color: #B6B9BB;
  font-size: 22px;
  padding-right: 15px;
}

.scrivi-msg {
  height: 70px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-around;
}

.scrivi-msg i {
  font-size: 25px;
  color: #6B7376;
}

.scrivi-msg input {
  width: 80%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.sezione-testo {
  height: calc(100% - 70px - 70px);
  overflow-y: auto;
  background-image: url('../img/wp.jpg');
  position: relative;
}

.clicca-chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #6B7376;
}

.contenitore-testo {
  width: 90%;
  height: 90%;
  margin: 5%;
  display: none;
}

/* per rendere visibile blocco di chat corrispondente */
.active {
  display: block;
}

.attiva {
  background-color: #E9EBEB;
}

.msg-ricevuto, .msg-inviato {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #D5F9BA;
  position: relative;
}

.destinatario .msg-ricevuto {
  float: left;
  max-width: 60%;
  background-color: white;
  position: relative;
}

.mittente .msg-inviato {
  float: right;
  max-width: 60%;
}

.destinatario, .mittente {
  position: relative;
}

.clear::after {
  display: table;
  content: "";
  clear: both;
}

.msg-ricevuto i, .msg-inviato i, .ora-msg {
  color: #B6B9BB;
}

.msg-ricevuto i:hover, .msg-inviato i:hover {
  cursor: pointer;
}

.msg-ricevuto:hover i, .msg-inviato:hover i {
  display: inline;
}

.msg-ricevuto i, .msg-inviato i {
  font-size: 15px;
  display: none;
  padding-left: 5px;
}

.ora-msg {
  font-size: 9px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* dropdown cancella */
.drop-cancella {
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

.drop-cancella h6 {
  font-size: 14px;
  font-weight: lighter;
}

.drop-cancella-inviato {
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

.drop-attivo {
  display: block;
  z-index: 1;
}

.drop-cancella-inviato h6 {
  font-size: 14px;
  font-weight: lighter;
}

.delete {
  padding-top: 15px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {

  /* sezione profilo */
  #mio-profilo {
    height: 40px;
  }

  #icone-user i, #notifiche i {
    font-size: 12px;
  }

  #icone-user i {
    padding-right: 5px;
  }

  /* sezione notifiche */
  #notifiche {
    height: 40px;
    padding: 0 5px;
  }

  #notifiche i {
    padding: 5px 3px;
    margin-right: 5px;
  }

  #notifiche h5 {
    font-size: 6px;
  }

  #notifiche a {
    font-size: 5px;
  }

  /* sezione search */
  #cerca-chat {
    height: 37px;
  }

  #cerca-chat i {
    font-size: 12px;
    padding: 4px 15px 0px 3px;
  }

  #cerca-chat input {
    font-size: 6px;
  }

  /* sezione chat */
  #sezione-chat {
    height: calc(100% - 40px - 40px - 37px);
  }

  .container-chat {
    height: 40px;
    padding: 0px 5px;
  }

  .specifiche-chat p {
    font-size: 6px;
  }

  .container-chat h2 {
    font-size: 9px;
    padding-bottom: 2px;
  }

  .container-chat span {
    font-size: 4px;
    top: 0;
    right: 0;
  }

  /* header chat destra */
  .header-chat {
    height: 40px;
    padding: 0px 5px;
  }

  .dati-chat img {
    margin-right: 5px;
  }

  .dati-chat h2{
    font-size: 10px;
  }

  .dati-chat h5 {
    font-size: 7px;
  }

  .iconcine-header-chat i {
    font-size: 12px;
    padding-right: 5px;
  }

  .msg-ricevuto, .msg-inviato {
    padding: 5px;
  }

  .msg-ricevuto i, .msg-inviato i {
    font-size: 9px;
  }

  .msg-ricevuto span:nth-child(1), .msg-inviato span:nth-child(1) {
    font-size: 10px;
  }

  .ora-msg {
    font-size: 5px;
    bottom: 0px;
    right: 3px;
  }

  /* sezione chat destra */
  .sezione-testo {
    height: calc(100% - 40px - 40px);
  }

  .clicca-chat {
    font-size: 12px;
  }

  /* dropbox */
  .drop-cancella {
    top: 40px;
    padding: 5px;
  }

  .drop-cancella-inviato {
    top: 40px;
    padding: 5px;
  }

  .drop-cancella-inviato h6, .drop-cancella h6 {
    font-size: 10px;
  }

  .msg-ricevuto i, .msg-inviato i {
    font-size: 10px;
  }

  .delete {
    padding-top: 5px;
  }

  /* parte scrivi messaggio */
  .scrivi-msg {
    height: 40px;
    padding: 7px 5px;
  }

  .scrivi-msg input {
    font-size: 10px;
  }

  .scrivi-msg i {
    font-size: 12px;
  }

}

/* media query a partire da versione tablet */
@media screen and (min-width: 401px) and (max-width: 600px) {

  /* sezione profilo */
  #mio-profilo {
    height: 40px;
  }

  #icone-user i, #notifiche i {
    font-size: 12px;
  }

  #icone-user i {
    padding-right: 5px;
  }

  /* sezione notifiche */
  #notifiche {
    height: 40px;
    padding: 0 5px;
  }

  #notifiche i {
    padding: 5px 3px;
    margin-right: 5px;
  }

  #notifiche h5 {
    font-size: 8px;
  }

  #notifiche a {
    font-size: 7px;
  }

  /* sezione search */
  #cerca-chat {
    height: 37px;
  }

  #cerca-chat i {
    font-size: 12px;
    padding: 4px 15px 0px 3px;
  }

  #cerca-chat input {
    font-size: 6px;
  }

  /* sezione chat */
  #sezione-chat {
    height: calc(100% - 40px - 40px - 37px);
  }

  .container-chat {
    height: 40px;
    padding: 0px 5px;
  }

  .specifiche-chat p {
    font-size: 8px;
  }

  .container-chat h2 {
    font-size: 11px;
    padding-bottom: 2px;
  }

  .container-chat span {
    font-size: 5px;
    top: 2px;
    right: 2px;
  }

  /* header chat destra */
  .header-chat {
    height: 40px;
    padding: 0px 5px;
  }

  .dati-chat img {
    margin-right: 5px;
  }

  .dati-chat h2{
    font-size: 11px;
  }

  .dati-chat h5 {
    font-size: 8px;
  }

  .iconcine-header-chat i {
    font-size: 12px;
    padding-right: 5px;
  }

  .msg-ricevuto, .msg-inviato {
    padding: 5px;
  }

  .msg-ricevuto i, .msg-inviato i {
    font-size: 11px;
  }

  .msg-ricevuto span:nth-child(1), .msg-inviato span:nth-child(1) {
    font-size: 12px;
  }

  .ora-msg {
    font-size: 6px;
    bottom: 0px;
    right: 3px;
  }

  /* sezione chat destra */
  .sezione-testo {
    height: calc(100% - 40px - 40px);
  }

  .clicca-chat {
    font-size: 12px;
  }

  /* dropbox */
  .drop-cancella {
    top: 40px;
    padding: 5px;
  }

  .drop-cancella-inviato {
    top: 40px;
    padding: 5px;
  }

  .drop-cancella-inviato h6, .drop-cancella h6 {
    font-size: 11px;
  }

  .msg-ricevuto i, .msg-inviato i {
    font-size: 10px;
  }

  .delete {
    padding-top: 5px;
  }

  /* parte scrivi messaggio */
  .scrivi-msg {
    height: 40px;
    padding: 7px 5px;
  }

  .scrivi-msg input {
    font-size: 12px;
  }

  .scrivi-msg i {
    font-size: 12px;
  }

}

@media screen and (min-width: 601px) and (max-width: 768px) {

  /* blocco sinistra */
  /* parte profilo */
  #mio-profilo {
    height: 60px;
  }

  #icone-user i, #notifiche i {
    font-size: 18px;
  }

  #icone-user i {
    padding-right: 8px;
  }

  /* sezione notifiche */
  #notifiche {
    height: 60px;
    padding: 0 4%;
  }

  #notifiche i {
    margin-right: 5px;
  }

  #notifiche h5 {
    font-size: 13px;
  }

  #notifiche a {
    font-size: 11px;
  }

  /* sezione search */
  #cerca-chat {
    height: 40px;
    padding: 5px;
  }

  #cerca-chat i {
    font-size: 14px;
    padding: 8px 16px 0px 2px;
  }

  #cerca-chat input {
    font-size: 11px;
  }

  /* sezione chat sinistra */
  #sezione-chat {
    width: 100%;
    height: calc(100% - 60px - 60px - 40px);
  }

  .container-chat {
    height: 60px;
    padding: 0 4%;
  }

  .container-chat span {
    font-size: 9px;
    top: 5px;
    right: 5px;
  }

  .specifiche-chat h2 {
    font-size: 15px;
  }

  .specifiche-chat p {
    font-size: 11px;
  }

  /* header chat destra */
  .header-chat {
    height: 60px;
    padding: 0 4%;
  }

  .dati-chat h2 {
    font-size: 15px;
  }

  .dati-chat h5 {
    font-size: 11px;
  }

  .iconcine-header-chat i {
    font-size: 18px;
    padding-right: 8px;
  }

  /* sezione testo */
  .sezione-testo {
    height: calc(100% - 60px - 60px);
  }

  .msg-ricevuto, .msg-inviato {
    padding: 10px;
  }

  .msg-ricevuto i, .msg-inviato i {
    font-size: 12px;
  }

  .msg-ricevuto span:nth-child(1), .msg-inviato span:nth-child(1) {
    font-size: 14px;
  }

  .ora-msg {
    font-size: 7px;
    bottom: 2px;
    right: 2px;
  }

  /* dropbox */
  .drop-cancella {
    padding: 8px;
  }

  .drop-cancella h6 {
    font-size: 13px;
  }

  .delete {
    padding-top: 8px;
  }

  .drop-cancella-inviato {
    padding: 8px;
  }

  .drop-cancella-inviato h6 {
    font-size: 13px;
  }

  /* scrivi msg */
  .scrivi-msg {
    height: 60px;
    padding: 8px 10px;
  }

  .scrivi-msg i {
    font-size: 18px;
  }


}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* sezione sinistra */
  /* profilo */
  #mio-profilo {
    height: 65px;
  }

  #icone-user i, #notifiche i {
    font-size: 20px;
  }

  /* notifiche */
  #notifiche {
    height: 65px;
    padding: 0 4%;
  }

  #notifiche h5 {
    font-size: 16px;
  }

  #notifiche a {
    font-size: 13px;
  }

  /* cerca */
  #cerca-chat {
    height: 45px;
  }

  #cerca-chat i {
    padding: 6px 22px 0px 5px;
  }

  /* chat */
  #sezione-chat {
    height: calc(100% - 65px - 65px - 45px);
  }

  .container-chat {
    height: 70px;
    padding: 0 4%;
  }

  .container-chat h2 {
    font-size: 16px;
  }

  .container-chat span {
    top: 10px;
    font-size: 10px;
  }

  /* sezione destra chat */
  /* header chat */
  .header-chat {
    height: 65px;
    padding: 0 10px;
  }

  .dati-chat h2 {
    font-size: 16px;
  }

  .dati-chat h5 {
    font-size: 13px;
  }

  .iconcine-header-chat i {
    font-size: 20px;
    padding-right: 12px;
  }

  /* sezione chat */
  .sezione-testo {
    height: calc(100% - 65px - 65px);
  }

  .msg-ricevuto, .msg-inviato {
    padding: 13px;
  }

  .msg-ricevuto i, .msg-inviato i {
    font-size: 14px;
  }

  .ora-msg {
    bottom: 2px;
    right: 2px;
  }

  /* dropbox */
  .drop-cancella {
    padding: 13px;
  }

  .drop-cancella h6 {
    font-size: 13px;
  }

  .drop-cancella-inviato {
    padding: 13px;
  }

  .drop-cancella-inviato h6 {
    font-size: 13px;
  }

  .delete {
    padding-top: 9px;
  }
  /* sezione scrivi msg */
  .scrivi-msg {
    height: 65px;
  }

  .scrivi-msg i {
    font-size: 22px;
  }


}
