/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

img {
  border-radius: 50%;
}

/* sfondo posteriore */
#sfondo {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#sfondo-sopra {
  height: 20%;
  width: 100%;
  background-color: #009688;
}

#sfondo-sotto {
  height: 80%;
  width: 100%;
  background-color: #DADBD3;
}

/* corpo centrale chat */
main {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  height: 90%;
  width: 80%;
  z-index: 1;
  display: flex;
}

/* sezione chat sinistra */
#sezione-chat-sinistra {
  width: 37%;
  height: 100%;
}

/* regole specifiche chat sinistra */
/* parte fissa */
#mio-profilo {
  height: 70px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

#mio-profilo img {
  height: 80%;
}

#icone-user i {
  font-size: 22px;
  color: #B1B1B1;
  padding-right: 15px;
}

#notifiche {
  height: 70px;
  width: 100%;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#notifiche i {
  font-size: 22px;
  background: white;
  border-radius: 50%;
  padding: 14px 10px;
  color: #8EDAFC;
  margin-right: 10px;
}

#notifiche h5 {
  font-size: 16px;
  font-weight: lighter;
}

#notifiche a {
  font-size: 15px;
  color: #4F7485;
}

#cerca-chat {
  height: 50px;
  width: 100%;
  background-color: #FAFAFA;
  padding: 8px;
}

.contenitore-cerca {
  border: 1px solid #F5F5F5;
  height: 100%;
  display: flex;
  align-items: center;

}

#cerca-chat i {
  background: white;
  width: 10%;
  height: 100%;
  padding: 10px 30px 10px 15px;
  color: #B6B9BB;
}

#cerca-chat input {
  width: 90%;
  height: 100%;
  border: none;
}

#sezione-chat {
  width: 100%;
  height: calc(100% - 70px - 70px - 50px);
  overflow-y: auto;
  background-color: white;
}

.container-chat {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  padding: 0 20px;
  position: relative;
}

.container-chat img{
  height: 80%;
  margin-right: 15px;
}

.container-chat span {
  position: absolute;
  top: 20px;
  right: 10px;
}

.specifiche-chat p, .container-chat span {
  color: #B6B9BB;
}

.specifiche-chat p {
  font-size: 14px;
}

.container-chat span {
  font-size: 12px;
}

.container-chat h2 {
  font-weight: lighter;
  font-size: 17px;
  padding-bottom: 5px;
}

/* sezione chat destra */
#sezione-chat-destra {
  width: 63%;
  height: 100%;
}

/* parte superiore */
.header-chat {
  height: 70px;
  width: 100%;
  background-color: #EAEAEA;
  border-left: solid 1px #B1B1B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.dati-chat {
  height: 100%;
  display: flex;
  align-items: center;
}

.dati-chat img {
  height: 80%;
  margin-right: 15px;
}

.dati-chat h2 {
  font-weight: lighter;
  font-size: 17px;
  padding-bottom: 5px;
}

.dati-chat h5 {
  font-weight: lighter;
  font-size: 14px;
  color: #6B7376;
}

.iconcine-header-chat i {
  color: #B6B9BB;
  font-size: 22px;
  padding-right: 15px;
}

.scrivi-msg {
  height: 70px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-around;
}

.scrivi-msg i {
  font-size: 25px;
  color: #6B7376;
}

.scrivi-msg input {
  width: 80%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.sezione-testo {
  height: calc(100% - 70px - 70px);
  overflow-y: auto;
  background-image: url('../img/wp.jpg');
}

.contenitore-testo {
  width: 90%;
  height: 90%;
  margin: 5%;
  display: none;
}

.active {
  display: block;
}

.msg-ricevuto, .msg-inviato {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.destinatario .msg-ricevuto {
  float: left;
  max-width: 60%;
}

.mittente .msg-inviato {
  float: right;
  max-width: 60%;
}

.destinatario, .mittente {
  position: relative;
}

.clear::after {
  display: table;
  content: "";
  clear: both;
}

.msg-ricevuto {
  background-color: white;
}

.msg-inviato {
  background-color: #D5F9BA;
}

/* dropdown cancella */
.drop-cancella {
  background-color: white;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 15px;
  border-radius: 5px;
}

.drop-cancella h6 {
  font-size: 14px;
  font-weight: lighter;
}

.delete {
  padding-top: 15px;
}
